body {
    font-family: arial, sans-serif;
}

.top-header {
    font-size: 13px;
    list-style-type: none;
    width: initial;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
} 

li a {
    text-decoration: none;
    color: black;
    padding: 20px 8px;
}

.apps {
    color: black;
    opacity: .55 ;
    position: relative;
    top: -4px;
    right: -2px;
}
#login {
    background-color: #4285f4;
    border-radius: 5px;
    border-style: solid;
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 12px 8px 12px;
    
}
.header {
    position: relative;
    text-align: right;
}
.google-logo {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
}
.form {
    position: relative;
    text-align: center;
}
#google-logo {
    width: 272px;
    height: 92px;
}
#search-form {
    border-radius: 25px;
    border-color: #d4d4d4;
    border-style: solid;
    border: 1px 1px 1px 1px;
    border-width: thin;
    width: 482px;
    height: 44px;
}
#search-icon {
    filter: opacity(0.35);
    position: absolute;
    padding-left: 12px;
    padding-top: 12px;

}
.buttons {
    position: relative;
    text-align: center;
    padding-top: 25px;
}
#google-search{
    color: #5F6368;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 0px 16px;
    height: 36px;
    min-width: 54px;
    line-height: 27px;
    font-size: 14px;

}
#feeling-lucky {
    color: #5F6368;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 0px 16px;
    height: 36px;
    min-width: 54px;
    line-height: 27px;
    font-size: 14px;
}

.language {
    margin-top: 30px;
    margin-bottom: 150px;
}
#google-language {
    color: #222;
    font-size: 12px;
    text-align: center;
}
#portuguese {
    color: #222;
    font-size: 12px;;
    text-decoration: none
}
.google-footer {
    color: #5f6368;
    font-size: 14px;;
    text-decoration: none;
    list-style-type: none;
}

.portugal {
    background-color: #f2f2f2;
    border: 1px solid #e4e4e4;
    margin-left: -10px;
    margin-right: -23px;
}
#portugal-text {
    position: relative;
    padding-left: 27px;
    font-size: 15px;;
}
.footer-links {
    background-color: #f2f2f2;
    border: 1px solid #e4e4e4;
    margin-left: -23px;
    margin-right: -23px;
    margin-top: -1px;;
    list-style-type: none;
    display: block;
    height: 50px;
    align-self: center;
    
  }
.left-footer {
    color: #5f6368;
    margin-left: -8px;
    display: block;
    float: left;
    justify-self: start;
}
.right-footer {
    color: #5f6368;
    display: block;
    float: right;
    justify-self: end;
}
  